:host {
  .container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--workPanelBackground);
  }

  .header-panel {
    position: relative;
    height: 36px;
    width: 100%;
    background-color: var(--headerBackground);
    color: var(--headerColor);
    border-bottom: 1px solid var(--headerBorder);
  }

  .header-left {
    width: 36px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 36px;
    line-height: 36px;
    font-weight: bold;
    white-space: nowrap;
  }

.mat-table {
  width: 100%;
  table-layout: fixed;
}

.mat-header-row, .mat-row {
  display: flex;
  width: 100%;
}

  .mat-cell {
  width: 100%;
    display: flex;
    align-items: center;

  }

  .mat-header-cell {
  width: 100%;
    display: flex;
    align-items: center;
    font-size: 15px;
    //font-size: 15px;
    //font-weight: 500;
    //background-color: var(--tableHeaderBackground);
	//display: flex;
	//align-items: center;
  }


  // Kolumnanpassningar
  
  .mat-column-tagName {
    flex: 0 1 220px;
  }
  .mat-column-name {
    flex: 0 1 220px;
  }

  .mat-column-tagId {
    flex: 0 1 200px;
  }

  .mat-column-periods {
    flex: 1 1 780px;
  }

  .mat-column-status {
    flex: 0 0 80px;
  }
  
  .mat-column-select {
     flex: 0 1 70px;
     //width: 50px;
     //justify-content: flex-start;
}

  
  .mat-column-actions {
   flex: 1 1 40px;
  //justify-content: center;
  }
  
  
  
  
}
