:host {
  .container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--workPanelBackground);
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    width: 100%;
    background-color: var(--headerBackground);
    color: var(--headerColor);
    border-bottom: 1px solid var(--headerBorder);
    padding: 0 16px; /* Optional: Adds spacing on sides */
    box-sizing: border-box;
  }

  .header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 auto; /* Takes only the space needed */
  }

  .header-title {
    flex: 1; /* Takes available space to center itself */
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    line-height: 36px;
  }

  .header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 auto; /* Takes only the space needed */
  }


  .mat-table {
    width: 100%;
    table-layout: fixed;
  }

  .mat-header-row,
  .mat-row {
    display: flex;
    width: 100%;
  }

  .mat-cell {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .mat-header-cell {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 15px;
  }

  /* Column adjustments */
  .mat-column-tagName {
    flex: 0 1 220px;
  }

  .mat-column-name {
    flex: 0 1 220px;
  }

  .mat-column-tagId {
    flex: 0 1 200px;
  }

  .mat-column-periods {
    flex: 1 1 780px;
  }

  .mat-column-status {
    flex: 0 0 80px;
  }

  .mat-column-select {
    flex: 0 1 70px;
  }

  .mat-column-actions {
    flex: 1 1 40px;
  }
}